.nav {
    background-color: whitesmoke;
    position: sticky;
}

.left {
    /* border: 1px solid red; */
    display: block;
    width: 45%;
    margin-top: 1px;
    margin-left: 465px;
}
.navbar li {
    display: inline-block;
    background-color: b;
    font-size: larger;    
}

.navbar li a {
    color: black;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover {
    color: grey;
    text-decoration: underline;
}
/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
  }
.aboutus
{
    margin: -38px 210px;
    /* border: 2px solid red; */
    width: 65%;
    border-radius: 10px;
    padding: 80px;
}
.aboutus h1,.aboutus hr,.tag{
    text-align: center;
}